<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-size-4">
        <h1>Food Recipes</h1>
      </div>
    </div>
     <%= render @recipes %>
  </div>
</div>

