<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-size-3">
        <h3><%= @user.name %></h3>
        <p><%= @user.email %></p>
        <p><small>Username:</small> <%= @user.username %></p>
          <div class="content is-size-6">
              <p>
                <% @user.recipes.each do |recipe| %>
                  <tr>
                    <p><%= render 'recipes/recipe', recipe: recipe %></p>
                  </tr>
                <% end %>
              </p>
          </div>
      </div>
    </div>
  </div>
</div>
